body {
  background-color: lightblue;
  text-align: center;
  font-family:Arial;
}
.file-label {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  display: inline-block;
}
#preview {
  max-width: 300px;
  background-color: black;
}
.display {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  width: 300px;
  display: inline-block;
}
#confirmUpload {
  width: 270px;
  height: 40px;
  border-radius: 10px;
  border-width: 0;
}
#urlDisplayTextField{
  height:20px;
  width:200px;
  border-width:0;
}
#CopyImageURL{
  width:70px;
  height:22px;
  font-family:arial;
  background-color:white;
  border-width:0;
  
}
#CopyImageURL:active,#confirmUpload:active{
  background-color:lightgray;
}

#urlDisplayArea{
  display:none
}
